body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    height: 100vh;
}

.left-column {
    width: 20%;
    background-color: midnightblue;
    color: white;
    text-align: center;
}

.main {
    flex-grow: 1;
    padding: 20px;
}

button {
    padding: 15px 40px;
    font-size: 20px;
    border-radius: 4px;
    background-color: midnightblue;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.selected {
    background-color:cornflowerblue;
}

button:hover {
    background-color:navy;
}

.game-select button {
    margin: 0px 20px;
}

.select-start-date {
    float: left;
    width: 50%;
}

.select-end-date {
    float: right;
    width: 50%;
}

.date-select button {
    margin: 2px 10px;
}

table, tr, td {
    border-collapse: collapse;
    font-size: 20px;
    padding: 7px 10px;
    border-bottom: 1px solid;
}

table {
    width: 100%;
}

tr:hover {
    background-color: azure;
}

.center {
    text-align: center;
}

#circulation-tables {
    width: 90%;
}

#circulation-tables-buttons button {
    margin-left: 20px;
    margin-bottom: 20px;
}

#fleet-tables-buttons button {
    margin-left: 20px;
    margin-bottom: 20px;
}

#letter-buttons button {
    margin: 20px;
}

#airlines button {
    margin: 5px;
}

