{% extends "index.j2" %}
{% block content %}
    {% if startDateLabel == endDateLabel %}
        <p>The selected dates must be different to use this tool.</p>
    {% else %}
        <h1>Circulation Changes</h1>
            <div id="circulation-tables-buttons">
                <button type="button" class="top-20-table">
                    Top 20 Most Popular
                </button>
                <button type="button" class="biggest-popularity-changes-table">
                    Top 20 Changes in Popularity
                </button>
                <button type="button" class="fastest-growing-aircraft-table">
                    Top 20 Fastest Growing
                </button>
                <button type="button" class="fastest-shrinking-aircraft-table">
                    Top 20 Fastest Shrinking
                </button>
                <button type="button" class="raw-aircraft-table">
                    All Data
                </button>
            </div>
            <div id="circulation-tables">
                <div id="top-20-table">
                    {% if top20df is not none %}
                        <h1>Top 20 Most Popular Aircraft</h1>
                        <table>
                            <tr>
                                <td>Rank</td>
                                <td>Aircraft</td>
                                <td class = "center">Old Count</td>
                                <td class = "center">New Count</td>
                                <td class = "center">Change</td>
                            </tr>
                            {% for (_, rank, plane, old, new, change) in top20df.itertuples(name=None) %}
                                <tr>
                                    <td>{{rank}}</td>
                                    <td>{{plane}}</td>
                                    <td class = "center">{{old}}</td>
                                    <td class = "center">{{new}}</td>
                                    <td class = "center">{{change}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <div id="biggest-popularity-changes-table" style="display:none">
                    {% if top20df is not none %}
                        <h1>Top 20 Changes in Popularity</h1>
                        <table>
                            <tr>
                                <td>Rank</td>
                                <td>Aircraft</td>
                                <td class = "center">Old Count</td>
                                <td class = "center">New Count</td>
                                <td class = "center">Change</td>
                            </tr>
                            {% for (_, rank, plane, old, new, change) in biggestChangesAircraftDf.itertuples(name=None) %}
                                <tr>
                                    <td>{{rank}}</td>
                                    <td>{{plane}}</td>
                                    <td class = "center">{{old}}</td>
                                    <td class = "center">{{new}}</td>
                                    <td class = "center">{{change}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <div id="fastest-growing-aircraft-table" style="display:none">
                    {% if top20df is not none %}
                        <h1>Top 20 Fastest Growing</h1>
                        <table>
                            <tr>
                                <td>Rank</td>
                                <td>Aircraft</td>
                                <td class = "center">Old Count</td>
                                <td class = "center">New Count</td>
                                <td class = "center">Change</td>
                            </tr>
                            {% for (_, rank, plane, old, new, change) in fastestGrowingAircraftDf.itertuples(name=None) %}
                                <tr>
                                    <td>{{rank}}</td>
                                    <td>{{plane}}</td>
                                    <td class = "center">{{old}}</td>
                                    <td class = "center">{{new}}</td>
                                    <td class = "center">{{change}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <div id="fastest-shrinking-aircraft-table" style="display:none">
                    {% if top20df is not none %}
                        <h1>Top 20 Fastest Shrinking</h1>
                        <table>
                            <tr>
                                <td>Rank</td>
                                <td>Aircraft</td>
                                <td class = "center">Old Count</td>
                                <td class = "center">New Count</td>
                                <td class = "center">Change</td>
                            </tr>
                            {% for (_, rank, plane, old, new, change) in fastestShrinkingAircraftdf.itertuples(name=None) %}
                                <tr>
                                    <td>{{rank}}</td>
                                    <td>{{plane}}</td>
                                    <td class = "center">{{old}}</td>
                                    <td class = "center">{{new}}</td>
                                    <td class = "center">{{change}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <div id="raw-aircraft-table" style="display:none">
                    {% if top20df is not none %}
                        <h1>All Data</h1>
                        <table>
                            <tr>
                                <td>Rank</td>
                                <td>Aircraft</td>
                                <td class = "center">Old Count</td>
                                <td class = "center">New Count</td>
                                <td class = "center">Change</td>
                            </tr>
                            {% for (_, rank, plane, old, new, change) in mostPopularAircraftDf.itertuples(name=None) %}
                                <tr>
                                    <td>{{rank}}</td>
                                    <td>{{plane}}</td>
                                    <td class = "center">{{old}}</td>
                                    <td class = "center">{{new}}</td>
                                    <td class = "center">{{change}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            {% endif %}
            </div>
{% endblock %}