{% extends "index.j2" %}
{% block content %}
    {% if startDateLabel == endDateLabel %}
        <p>The selected dates must be different to use this tool.</p>
    {% else %}
        <h1>Fleet Changes</h1>
            <div id="fleet-tables-buttons">
                <button type="button" class="top-20-fleet-table">
                    Top 20 Fleets
                </button>
                <button type="button" class="fastest-growing-fleets-table">
                    Top 20 Fastest Growing
                </button>
                <button type="button" class="fastest-shrinking-fleets-table">
                    Top 20 Fastest Shrinking
                </button>
                <button type="button" class="raw-fleet-table">
                    All Fleet Data
                </button>
            </div>
            <div id="circulation-tables">
                <div id="top-20-fleet-table">
                    {% if top20df is not none %}
                        <h1>Top 20 Largest Fleets</h1>
                        <table>
                            <tr>
                                <td>Rank</td>
                                <td>Airline</td>
                                <td class = "center">Old Count</td>
                                <td class = "center">New Count</td>
                                <td class = "center">Change</td>
                            </tr>
                            {% for (_, rank, plane, old, new, change) in largestFleetsDf.head(20).itertuples(name=None) %}
                                <tr>
                                    <td>{{rank}}</td>
                                    <td>{{plane}}</td>
                                    <td class = "center">{{old}}</td>
                                    <td class = "center">{{new}}</td>
                                    <td class = "center">{{change}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <div id="fastest-growing-fleets-table" style="display:none">
                    {% if top20df is not none %}
                        <h1>Top 20 Fastest Growing Fleets</h1>
                        <table>
                            <tr>
                                <td>Rank</td>
                                <td>Airline</td>
                                <td class = "center">Old Count</td>
                                <td class = "center">New Count</td>
                                <td class = "center">Change</td>
                            </tr>
                            {% for (_, rank, plane, old, new, change) in fastestGrowingFleetsDf.head(20).itertuples(name=None) %}
                                <tr>
                                    <td>{{rank}}</td>
                                    <td>{{plane}}</td>
                                    <td class = "center">{{old}}</td>
                                    <td class = "center">{{new}}</td>
                                    <td class = "center">{{change}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <div id="fastest-shrinking-fleets-table" style="display:none">
                    {% if top20df is not none %}
                        <h1>Top 20 Fastest Shrinking Fleets</h1>
                        <table>
                            <tr>
                                <td>Rank</td>
                                <td>Airline</td>
                                <td class = "center">Old Count</td>
                                <td class = "center">New Count</td>
                                <td class = "center">Change</td>
                            </tr>
                            {% for (_, rank, plane, old, new, change) in fastestShrinkingFleetsDf.head(20).itertuples(name=None) %}
                                <tr>
                                    <td>{{rank}}</td>
                                    <td>{{plane}}</td>
                                    <td class = "center">{{old}}</td>
                                    <td class = "center">{{new}}</td>
                                    <td class = "center">{{change}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <div id="raw-fleet-table" style="display:none">
                    {% if top20df is not none %}
                        <h1>All Fleets</h1>
                        <table>
                            <tr>
                                <td>Rank</td>
                                <td>Airline</td>
                                <td class = "center">Old Count</td>
                                <td class = "center">New Count</td>
                                <td class = "center">Change</td>
                            </tr>
                            {% for (_, rank, plane, old, new, change) in largestFleetsDf.itertuples(name=None) %}
                                <tr>
                                    <td>{{rank}}</td>
                                    <td>{{plane}}</td>
                                    <td class = "center">{{old}}</td>
                                    <td class = "center">{{new}}</td>
                                    <td class = "center">{{change}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            {% endif %}
        </div>
{% endblock %}