{% extends "index.j2" %}
{% block content %}
            <h1>Hello! 👋</h1>
            <p>Welcome to fleet tools for Airline Club and MyFly Club by American Pacific.</p>
            <p>If you've never played the games, you should check out <a href="https://www.airline-club.com">Airline Club</a> and <a href="https://myfly.club">MyFly.Club</a></p>
            <h2>Using Fleet Tools:</h2>
            <p>Some of the fleet tools require specificying two dates to compare, but not all. All of them require you select a game though, so you should do that.</p>
            <div class="game-select">
                <h3>Select the game you want to use:</h3>
                {% if game is not none and game == 'AC'%}
                    <button type="button", id="ac", class = "selected">
                        AC
                    </button>
                {% else %}
                    <button type="button", id="ac">
                        AC
                    </button>
                {% endif %}
                {% if game is not none and game == 'MFC'%}
                    <button type="button", id="mfc", class = "selected">
                        MFC
                    </button>
                {% else %}
                    <button type="button", id="mfc">
                        MFC
                    </button>
                {% endif %}
            </div>
            <div class="date-select">
                <div class="select-start-date">
                    {% if game %}
                        {% if dates is not none %}
                            <h3>Select earlier date for comparision:</h3>
                            {% for date in dates %}
                                {% if startDateLabel is not none and (date[0], date[1], date[2]) == (startDateLabel[0:3], startDateLabel[4:6], startDateLabel[8:12])%}
                                    <button type="button" id="{{ date[0] }}{{ date[1] }}{{ date[2] }}" class = "selected">
                                        {{ date[0] }} {{ date[1] }}, {{ date[2]}}
                                    </button>
                                {% else %}
                                    <button type="button" id="{{ date[0] }}{{ date[1] }}{{ date[2] }}">
                                        {{ date[0] }} {{ date[1] }}, {{ date[2]}}
                                    </button>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif%}
                </div>
                <div class="select-end-date">
                    {% if game %}
                        {% if dates is not none %}
                            <h3>Select later date for comparision:</h3>
                            {% for date in dates %}
                                {% if endDateLabel is not none and (date[0], date[1], date[2]) == (endDateLabel[0:3], endDateLabel[4:6], endDateLabel[8:12])%}
                                    <button type="button" id="{{ date[0] }}{{ date[1] }}{{ date[2] }}" class = "selected">
                                        {{ date[0] }} {{ date[1] }}, {{ date[2]}}
                                    </button>
                                {% else %}
                                    <button type="button" id="{{ date[0] }}{{ date[1] }}{{ date[2] }}">
                                        {{ date[0] }} {{ date[1] }}, {{ date[2]}}
                                    </button>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif%}
                </div>
            </div>

{% endblock %}