<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fleet Tools</title>
        <link rel="stylesheet" href="../static/index.css">
        <script src = "https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src = "../static/index.js"></script>
    </head>
    <body>
        <div class = "left-column">
            <div class="home-button" style="cursor:pointer;">
                <h1>Fleet Tools</h1>
            </div>
            <p>by American Pacific</p>
            <h3>Selected Game:</h3>
            {% if game is not none %}
                <p id="game-label">{{ game }}</p>
            {% else %}
                <p id="game-label">None</p>
            {% endif %}   
            <h3>Earlier Date:</h3>
            {% if startDateLabel is not none %}
                <p id="start-date-label">{{ startDateLabel }}</p>
            {% else %}
                <p id="start-date-label">Not selected</p>
            {% endif %}
            <h3>Later Date:</h3>
            {% if endDateLabel is not none %}
                <p id="end-date-label">{{ endDateLabel }}</p>
            {% else %}
                <p id="end-date-label">Not selected</p>
            {% endif %}
            <h3>Tools:</h3>
            <button type="button" onclick= "location.href = '/circulation_changes';">
                Circulation Changes
            </button>
            <button type="button" onclick = "location.href = '/fleet_changes';">
                Fleet Changes
            </button>
            <button type="button" onclick = "location.href = '/discord_message';">
                Discord Message
            </button>
            <button type="button" onclick = "location.href = '/airline_search';">
                Airline Search
            </button>
            <button type="button">
                Aircraft Search
            </button>
            <button type="button" id = "cookie">
                Clear Cookies
            </button>
        </div>      
        <div class = "main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>