{% extends "index.j2" %}
{% block content %}
    <h1>{{ aircraft }}</h1>
    <table>
        <tr>
            <td>Aircraft</td>
            <td>Old Total</td>
            <td>New Total</td>
            <td>Change</td>
        </tr>
        {% for (_, airline, old, new, change) in aircraftTable.itertuples(name = None) %}
            <tr>
                <td>{{airline}}</td>
                <td>{{old}}</td>
                <td>{{new}}</td>
                <td>{{change}}</td>
            </tr>
        {% endfor %}
    </table>
    <button onclick = "history.back();" style = "margin-top: 20px;">Back</button>
{% endblock %}