{% extends "index.j2" %}
{% block content %}
    <h1 id="airlineName">{{ airline }}</h1>
    <table>
        <tr>
            <td>Aircraft</td>
            <td>Old Total</td>
            <td>New Total</td>
            <td>Change</td>
        </tr>
        {% for (index, old, new, change) in airlinetable.itertuples(name = None) %}
            <tr>
                <td>{{index}}</td>
                <td>{{old}}</td>
                <td>{{new}}</td>
                <td>{{change}}</td>
            </tr>
        {% endfor %}
    </table>
    <button onclick = "history.back();" style = "margin-top: 20px;">Back</button>
    <div>
        <canvas id="airlineChart">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="../static/airlineHistory.js"></script>
        </canvas>
    </div>
{% endblock %}